h1 Welcome to Cars New Page

form(name="new-car" method="POST" action="/cars")
  p
    label(for="make") Make
    input(type="text" name="make")
  p
    label(for="model") Model
    input(type="text" name="model")
  p
    label(for="year") Year
    input(type="text" name="year")
  p
    input(type="submit" value="Create Car")